
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

main {
  padding: 0 20px 0 20px;
}

/* header styles */
.top-header {
  display: none;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  background-color: #fff;
}

.logo {
  background-color: #000;
  padding: 10px;
  width: 100px;
}

.logo img {
  width: 100%;
}

.bottom-right-nav {
  display: flex;
}

.bottom-left-links {
  display: none;
}

.bottom-right-links > * {
  display: none;
}

.bottom-right-links .search {
  display: inline-block;
  transform: scaleX(-1);
  margin-right: 10px;
  font-weight: bold;
}

.bottom-right-links .menu {
  font-weight: bold;
}

.title-message {
  background-color: yellow;
  padding: 15px;
  font-size: 16px;
}

.banner-wrapper {
  margin-left: 6px;
  margin-right: 6px;
}

.banner-img {
  background-image: url('../img/banner.png'), linear-gradient(transparent 40%, #000);
  height: 376px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin-bottom: 8px;
  position: relative;
}

.banner-img .banner-text {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.banner-text .news-title {
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 8px;
  padding-right: 15px;
}

.banner-text .subscript {
  color: #ccc;
}

/* Latest News */
.latest-news-container img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.heading a {
  color: red;
  font-weight: 800;
  font-size: 1em;
}

.news-wrapper {
  margin-top: 28px;
}
.news-article {
  display: flex;
  margin-bottom: 14px;
}

.text-wrapper {
  margin-left: 14px;
}

.news-wrapper .news-title {
  font-size: 1em;
}

.news-wrapper .news-title a {
  color: #000;
}

.news-info {
  font-size: .8em;
  color: #7f7f7f;
  margin-top: 10px;
}

.news-info a {
  color: inherit;
}

/* funding */

.right-text {
  display: flex;
  flex-direction: column;
  margin-top: 26px;

}

.right-text a{
   color: red;
  text-decoration: none;
  margin-top: 11px;

}

.funding-wrapper {
  margin-top: 26px;

}

.funding-source {
  position: relative;
  background: #fffaf8;
}

.funding-source a {
  color: inherit;
  font-size: inherit;
}

.funding-logo img{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 10px;
}


.funding-company {
  background-color: #f42;
  padding: 10.6px 16px 10.6px 84px;
  font-size: 1.5em;
  color: #fff;
}

.funding-amount {
  font-size: 1.2rem;
  padding: 10.6px 16px 10.6px 84px;
  font-weight: 700;
  background-color: rgba(255,68,34,.08);
}

.funding-amount span {
  font-size: .8em;
  color: #7f7f7f;
  font-weight: 400;
}

.funding-source {
  margin-bottom: 16px;
}
.funding-source .footer-wrapper {
  padding: 16px;

}

.icon-address a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.footer-wrapper .iconify {
  font-size: 1.2em;
  margin-right: 10px;
}


.funding-footer {
  font-size: .9em;
  padding: 10px 16px 16px 0;
  border-top: 1px solid #ffcdc2;
}


/* news suggestion */
.news-suggestion-header {
  background-image: url("../img/news-suggestion.jpg"), linear-gradient(transparent 40%, #000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 396px;
  padding: 14px;
  position: relative;
  background-blend-mode: multiply;
}

.suggestion-item a {
  color: inherit;
}

.suggestion-info-wrapper {
  position: absolute;
  bottom: 14px;
  color: #fff;
}

.suggestion-info-wrapper .about {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}





